<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Order Invoice</title>
  <link rel="icon" type="image/x-icon" href="/assets/images/headericon.png">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>
<style>
  body {
    background: #f8f9fa;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  .receipt-main {
    background: #fff;
    border-bottom: 12px solid #333333;
    border-top: 12px solid #dbcc8f;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #333;
  }

  .receipt-main p {
    color: #333;
    line-height: 1.42857;
  }

  .receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
  }

  .receipt-main::after {
    background: #414143;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
  }

  .receipt-main thead {
    background: #414143;
  }

  .receipt-main thead th {
    color: #fff;
  }

  .receipt-main td {
    padding: 9px 20px !important;
    font-size: 13px;
  }

  .receipt-main td p:last-child {
    margin: 0;
    padding: 0;
  }

  .receipt-main td h2 {
    font-size: 18px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
  }

  .receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
  }

  .receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
  }
</style>

<body>
  <!-- Your existing HTML content goes here -->
  <div class="col-md-12">
    <div class="row">
      <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
        <div class="row">
          <div class="receipt-header">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="receipt-left">
                <h3>ORDER ID #<%= order.order_id %>
                </h3>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
              <div class="receipt-right">
                <h5 style="font-weight: 1000">
                  <Span style="color: rgb(46, 202, 88)">Shoetopia</Span>
                </h5>
                <p>+91 1234567890<i class="fa fa-phone"></i></p>
                <p>shoetopia@gmail.com<i class="fa fa-envelope-o"></i></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="receipt-header receipt-header-mid">
            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
              <div class="receipt-right">
                <p><b>customer :</b>
                  <%= user.username %>
                </p>
                <p><b>Mobile :</b>
                  <%= user.mobile %>
                </p>
                <p><b>Email :</b>
                  <%= user.email %>
                </p>
                <p>
                  <b>Order Date :</b>
                  <%= moment(order.date).format('MMM DD, YYYY') %>
                </p>
                <p><b>Payment Method :</b>
                  <%= order.payment %>
                </p>
                <p><b>Address :</b>
                  <%= order.delivery_address %>
                </p>
                <% if(order.couponApplied===true) { %>
                  <p><b>Coupon Name:</b>
                    <%= order.coupon_name %>
                  </p>
                  <p><b>Coupon Discount:</b> ₹ <%= order.total_amount - order.totalDiscountAmount %>
                  </p>
                  <% } else { %>
                    <p><b>Coupon Name:</b> No coupon used</p>
                    <% } %>
              </div>
            </div>
          </div>
        </div>

        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% if (order.items.length> 0) {
                order.items.forEach((orders,i) => { %>


                <tr>
                  <td class="col-md-9">
                    <%= i + 1 %>
                  </td>

                  <td class="col-md-9">
                    <%=orders.product_id.name %>
                  </td>


                  <td class="col-md-9">
                    <%= orders.quantity %>
                  </td>

                  <td class="col-md-9"><i class="fa fa-inr"></i>₹ <%= orders.total_price / orders.quantity %>
                  </td>

                  <td class="col-md-9">
                    <%= (orders.total_price / orders.quantity)*orders.offerPercentage/100 %>
                  </td>

                  <td class="col-md-9">₹ <%= orders.quantity*orders.price %>
                  </td>
                  <% }); } %>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right col-md-9">
                    <h4>Sub total:</h4>
                    <h4>Total discount:</h4>
                    <h2><strong>Total: </strong></h2>
                  </td>
                  <td class="text-left text-danger">
                    <h4><i class="fa fa-inr"></i>₹ <%=sumTotal %>/-</h4>
                    <% if(order.couponApplied===true){ %>
                      <h4><i class="fa fa-inr"></i>₹ <%=(sumTotal - order.totalDiscountAmount).toFixed(2) %>/-</h4>

                      <h2>
                        <strong><i class="fa fa-inr"></i>₹ <%= order.totalDiscountAmount.toFixed(2) %>/-</strong>
                      </h2>

                      <% }else{ %>
                        <h4><i class="fa fa-inr"></i>₹ <%=(sumTotal - order.total_amount).toFixed(2) %>/-</h4>

                        <h2>
                          <strong><i class="fa fa-inr"></i>₹ <%= order.total_amount.toFixed(2) %>/-</strong>
                        </h2>

                        <% } %>

                  </td>
                </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="receipt-header receipt-header-mid receipt-footer">
            <div class="col-xs-8 col-sm-8 col-md-8 text-left">
              <div class="receipt-right">
                <p>
                  <b>Date :</b>
                  <%= date.toLocaleDateString('en-US', { year: 'numeric' , month: 'short' , day: '2-digit'
                    }).replace(/\//g, '-' ) %>
                </p>
                <h5 style="color: rgb(140, 140, 140)">
                  Thanks for shopping.!
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<body>