<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minishop - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <link rel="stylesheet" href="/assets/css/aos.css">

    <link rel="stylesheet" href="/assets/css/ionicons.min.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/icomoon.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <link rel="stylesheet" href="/assetss/css/all.min.css">
<!-- bootstrap -->
<link rel="stylesheet" href="/assetss/css/main.css">
<!-- responsive -->
<link rel="stylesheet" href="/assetss/css/responsive.css">

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    
<style>


  #header{
      margin-top: 7%;
      width: 100%;
      height: 70px;
      background-color:#dbcc8f;
  }

  @media(max-width:992px){
      #header{
      margin-top: 2%;
      width: 100%;
      height: 70px;
      background-color:#dbcc8f;
  } 
  }

  .active{
    background-color: white;
    color: #dbcc8f;
    border: 1px solid #dbcc8f;
  }

</style>



  </head>
  <body class="goto-here">
    <%- include('../layouts/navbar.ejs') %>

    <style>
      #header {
          margin-top: 7%;
          width: 100%;
          height: 70px;
          background-color: #dbcc8f;
      }
  
      #Table {
          width: 100%;
          margin-left: 10%;
      }
  
      @media (max-width: 992px) {
          #header {
              margin-top: 2%;
              width: 100%;
              height: 70px;
              background-color: #dbcc8f;
          }
  
          #Table {
              margin-left: auto;
              margin-right: auto; /* Add this line for horizontal centering */
          }
      }
  </style>

<style>
  /* Add any additional styling as needed */
  .search-input-group {
      width: 60%; /* Adjust the width as needed */
  }

  .search-button {
      width: 13%;
      background-color: #dbcc8f;
      border: 1px solid #dbcc8f;
      color: white;
  }
  .custom-section-hover:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.btn{
  color: white;
  background-color: #dbcc8f;
}

.main{
  color: #dbcc8f;
  background-color: white;
  border: 1px solid #dbcc8f;
}
</style>
    <section id="header">
      <div>
          <h1 style="color: rgb(0, 0, 0); justify-content: center; text-align: center;">Orders</h1>
      </div>
  </section>


  <div class="container mt-3">
    <div class="row">
       <div class="col-lg-12">
           <div class="product__details__breadcrumb">
               <a href="/">Home</a> <span>/</span>
               <a href="/profile">Profile</a> <span>/</span>
               <span>orders</span>
               
           </div>
       </div>
     </div>
   </div> 


    <% if(locals.user){ %>
      <section class="gradient-custom mb-0">
        <div class="container">
          <div style="text-align: center;" >
            <h3>Track Your Orders</h3>
          </div>
          
          <div class="row">
         
            <div class="mb-5">
              <form action="/orders" method="get">
   
                <div class="form-group">
                  <label for="paymentMethod" style="font-size: small;">Payment method</label>
                  <select class="form-control" id="paymentMethod" name="payment">
                    <option value="" <% if (!payment) { %>selected<% } %>>All</option>
                    <option value="cod" <% if (payment === 'cod') { %>selected<% } %>>Cash on delivery</option>
                    <option value="wallet" <% if (payment === 'wallet') { %>selected<% } %>>Wallet</option>
                    <option value="razorPay" <% if (payment === 'razorPay') { %>selected<% } %>>RazorPay</option>
                  </select>
                </div>
              
                <button type="submit" class="btn btn-primary">Apply Filters</button>
              </form>
              

  </div>

      
            <!-- Order List Section -->
            <% if (orders.length > 0) { %>
            <div class="col-lg-10">
              <div class="card-body p-4">
                <% orders.forEach(order => { %>
                  <% if (order.status !== 'pending') { %>
                  <div class="col-md-12 mb-4">
                      <div class="card order-card">
                        <div>
                           <h5 class="card-header">#Order ID: <%= order.order_id %></h5>

                        </div>
                         
                       
                          <div class="card-body">
                            <div style="display: flex; justify-content: space-between;">
                              <% if (order.couponApplied === true){ %>
                                <div>
                                  <h5 class="card-title">Total Amount: ₹<%= order.totalDiscountAmount %></h5>
                                  <h5 class="card-title">Original Amount: <del style="color: red;"> ₹<%= order.total_amount %></del></h5>
                                    
                                </div>
                          
                              <div>
                                <h7 style="color: red;">Coupon Applied</h7>
                                <p>saved ₹<%= order.total_amount - order.totalDiscountAmount %> </p>

                              </div>
                                
                               <% }else{ %>
                                <h5 class="card-title">Total Amount: ₹<%= order.total_amount %></h5>
                                <% } %>
                            </div>
                             
                              <p class="card-text">Delivery Address: <%= order.delivery_address %></p>
                              <p class="card-text">Order Date: <%= moment(order.date).format('DD/MM/YYYY') %> <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Items: <%= order.items.length %> </span>  </p>   
                              <p class="card-text">Payment Method: <%= order.payment %></p>
                              <p class="card-text">Expected Delivery: <%= order.expected_delivery %></p>
                              
                              <!-- View Details Button -->
                              <a href="/single-order?orderId=<%= order._id %>" class="btn btn-primary btn-sm">View Details</a>
                              
                              <!-- Download Invoice Button (positioned in the right-bottom corner) -->
                             
                              <a href="/invoice?orderId=<%= order._id %>" class="btn btn-black" style="position:absolute; right: 10px;" target="_blank">Download Invoice</a>

                          </div>
                      </div>
                  </div>
                  <% } %>
              <% }) %>
              
              

                
                                <!-- Pagination -->
                                <div class="pagination mb-5" style="text-align: center;">
                                  <% if (currentPage > 1) { %>
                                    <a class="ms-5" href="?page=<%= currentPage - 1 %>&status=<%= status %>&payment=<%= payment %>"><button class="btn">Previous</button></a>
                                  <% } %>
                                  
                                  <% for (let i = 1; i <= totalPages; i++) { %>
                                    <% if (i === currentPage) { %>
                                      <a class="current-page" href="?page=<%= i %>&status=<%= status %>&payment=<%= payment %>"><button class="btn main"><%= i %></button></a>
                                    <% } else { %>
                                      <a href="?page=<%= i %>&status=<%= status %>&payment=<%= payment %>"><button class="btn"><%= i %></button></a>
                                    <% } %>
                                  <% } %>
                                
                                  <% if (currentPage < totalPages) { %>
                                    <a href="?page=<%= currentPage + 1 %>&status=<%= status %>&payment=<%= payment %>"><button class="btn">Next</button></a>
                                  <% } %>
                                </div>
                                
              </div>
            </div>
            


            <% }else{ %>
              <div class="col-lg-9" style="text-align: center; margin-top: 10%;">
                <h1>no orders found</h1>
              </div>
              <% } %>
          </div>
        </div>
      </section>
    <% }else{ %>
      <div class="mb-5 mt-5" style="text-align: center;">
           <h3>Please Login to see the orders</h3>
          <a href="/login"><button class="btn btn-primary" style="width: 100px;">Login</button>
              </a>        
      </div>
    <%}%>


    <style>
      body {
          font-family: 'Arial', sans-serif;
          background-color: #f8f9fa;
      }

      .order-box {
          background-color: #fff;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 20px;
      }

      .order-box h5 {
          color: #dbcc8f;
          margin-bottom: 15px;
      }

      .order-details p {
          margin: 0;
          font-size: 14px;
          color: #6c757d;
      }

      .invoice-btn,
      .btn-primary,
      .btn-danger {
          background-color: black;
          color: #fff;
          border: 1px solid black;
          padding: 8px 16px;
          border-radius: 5px;
          text-decoration: none;
          display: inline-block;
          margin-right: 10px;
          transition: background-color 0.3s;
      }

      .invoice-btn:hover,
      .btn-primary:hover,
      .btn-danger:hover {
          background-color: #ffffff;
          color: #000000;
      }

      @media (max-width: 768px) {
          /* Add responsive styles here */
      }
  </style>


     
      

 
  

 
   <%- include('../layouts/page-footer.ejs') %>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="/assets/js/jquery.waypoints.min.js"></script>
  <script src="/assets/js/jquery.stellar.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/aos.js"></script>
  <script src="/assets/js/jquery.animateNumber.min.js"></script>
  <script src="/assets/js/bootstrap-datepicker.js"></script>
  <script src="/assets/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/assets/js/google-map.js"></script>
  <script src="/assets/js/main.js"></script>

  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>
    
  </body>
</html>